body {
    background-color: black;
    
    color: white;
}
.colorgris {
    background-color: #131313;
    
    color: white;
}



.bg-cornsilk {  
    background-color: cornsilk;
}

.grisoscuro {  
    background-color: #131313;
}


.grisclaro {  
   color: #595959;
}

.barranueva {  
    background-color: #1F1E1A;
    padding: 25px 300px;
 }
 .izq {  
    text-align: left;
 }

.bg-gris{
    background-color: #1F1E1A;
    
 }
 .img-fondo{
    background-image: image();
    
 }
 

.height-50 {
    height: 50px;
}

.height-150 {
    height: 150px;
}
.height-120 {
    height: 120px;
}
.width-1820 {
    width: 1820px;
}


.img-bandera {
   
    width: 50px;
}

.img-logo {
    height: 140px;
    
}
.img-logo2 {
    height: 40px;
    
}
.color-texto-gris {
    color: #E9E9E9;
}

.color-texto-negro {
    color: black;

}



.img-conejo{
    height: 500px;
    width: 525px;


}


.verticalLine {
    margin-top: 2%;
    margin-bottom: 2%;
    border-left: thick solid cornsilk;
  }

  .espacio{
   padding: 11px 17px;
}

.espacio1{
    padding: 10px 19px;
    
 }
 /* ´paginacion */
 .paginacion {
    margin:20px 0;
 }
 .paginacion ul {
    list-style:none;
    text-align: center;
 }

 .paginacion ul li {
   display:inline-block;
   margin-right:10px;
 }

 .paginacion ul li a {
    display:block;
    padding: 10px 20px;
    color: cornsilk;
    background: lightslategrey;
    text-decoration: none;
 }
/* ´paginacion */
.header{
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
     }
 //////espacio-redes
     display: flex;
    justify-content: space-evenly;

menufijo
 header
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  
    ///



    .contenedor{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;


     }

     .mainimg{
       box-sizing: border-box;
         }
    @media screen and (max-width:800px){
        .main {
            width:100%;
          } 
           aside { width:100%; 
          }

        }
        .img-logo2{
           
           height:auto ;
        
             }
             /* buscador */
             @media screen and (max-width:400px){
                .contenedor {
                    width:100%;
                  } 
                  aside { 
                      display: none; 
                  }
                  

                  .ctn-icon.search{
                      position: absolute;
                      right: 20px;
                      height: 100px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                   
                      }

                .ctn-icon.search i{
                    font-size: 18px;
                    color: #595959;
                    cursor: pointer;
                    transition: all 300ms;
                   
                      }

                      .ctn-icon.search i:hover{
                          color: aquamarine;
                         }


                         .ctn-bars.search{
                            position:fixed;
                            top: 80px;
                            width: 100%;
                            background: #E9E9E9;
                            padding: 20px;
                            z-index: 9;
                           }
                           .ctn-bars.search input{
                            display: block;
                            width: 1200px;
                            margin: auto;
                            padding: 10px;
                            font-size: 40px;
                            outline: 0;
                            
                           }
  
  
                         
                           <!-- buscador -->



                  .header-content

                  position: relative;



                  
                   