body {
    background-color: black;
    
    color: white;
}

.colorgris {
    background-color: #131313;
    
    color: white;
}



.bg-cornsilk {  
    background-color: cornsilk;
}

.grisclaro {  
   color: #595959;
}




.bg-naranja {
  color:  #C25209;
}

.height-50 {
    height: 50px;
}

.height-150 {
    height: 150px;
}

.width-1820 {
    width: 1820px;
}


.img-bandera {
    height: 30px;
    width: 50px;
}

.img-logo {
    height: 140px;
    width: 150px;
}

.color-texto-negro {
    color: black;
}

.img-conejo{
    height: 500px;
    width: 525px;


}
.img-kanguro{
    height: 500px;
    width: 525px;


}
.img-palmera{
    height: 500px;
    width: 525px;


}
.img-palmera2{
    height: 500px;
    width: 525px;


}
.img-soul{
    height: 500px;
    width: 525px;


}
.img-gorro{
    height: 500px;
    width: 525px;


}

.verticalLine {
    margin-top: 2%;
    margin-bottom: 2%;
    border-left: thick solid cornsilk;
  }

